SERVERLUMEN_POSTGRES_HOST=0.0.0.0
SERVERLUMEN_POSTGRES_PORT=5432
SERVERLUMEN_POSTGRES_USER=...
SERVERLUMEN_POSTGRES_PASSWORD=...
SERVERLUMEN_POSTGRES_DB=...
DATABASE_URL="postgresql://${SERVERLUMEN_POSTGRES_USER}:${SERVERLUMEN_POSTGRES_PASSWORD}@${SERVERLUMEN_POSTGRES_HOST}:${SERVERLUMEN_POSTGRES_PORT}/${SERVERLUMEN_POSTGRES_DB}"
